<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Demo Suite" parallel="methods" thread-count="1">
	<listeners>
		<listener class-name="com.epam.cdp.cal.listeners.TestListeners"></listener>
	</listeners>
	
	<test name="Sub Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.SubtractionCalculatorTest"/>
		</classes>
	</test>

	<test name="Sum Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.SumCalculatorTest"></class>
		</classes>
	</test>


	<test name="Division Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.DivisionCalculatorTest"></class>
		</classes>
	</test>

	<test name="Multiplication Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.MultiplicationCalculatorTest"></class>
		</classes>
	</test>

	<test name="Power Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.PowerCalculatorTest"></class>
		</classes>
	</test>


	<test name="Square root Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.SquareRootCalculatorTest"></class>
		</classes>
	</test>



	<test name="Positive Number Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.PositiveNumberTest"></class>
		</classes>
	</test>
	<test name="Negative Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.NegativeNumberTest"></class>
		</classes>
	</test>


	<test name="calculator">

		<groups>
			<run>
				<include name="trigonometry" />
			</run>
		</groups>

		<classes>
			<class name="com.epam.cdp.cal.tests.CosineCalculatorTest" />
			<class name="com.epam.cdp.cal.tests.TangentCalculatorTest" />
			<class name="com.epam.cdp.cal.tests.CotangentCalculatorTest" />
			<class name="com.epam.cdp.cal.tests.SinusCalculatorTest" />
		</classes>

	</test>



</suite>